@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --copilot-kit-primary-color: black;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --copilot-kit-background-color: #121212;
    --copilot-kit-secondary-color: #1e1e1e;
    --copilot-kit-secondary-contrast-color: #fff;

    --background: 240 5.7% 7.1%;
    --foreground: 240 5% 84.9%;
    --card: 240 5.7% 7%;
    --card-foreground: 240 5% 84.9%;
    --popover: 240 5.7% 10%;
    --popover-foreground: 240 5% 84.9%;
    --primary: 240 3.7% 50%;
    --primary-foreground: 240 5% 95%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 240 5% 84.9%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 240 5% 84.9%;
    --destructive: 0 50% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 20%;
    --input: 240 3.7% 18%;
    --ring: 240 3.7% 50%;
    --chart-1: 12 40% 40%;
    --chart-2: 173 30% 35%;
    --chart-3: 197 25% 25%;
    --chart-4: 43 40% 45%;
    --chart-5: 27 50% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.copilotKitDevConsole {
  @apply hidden !important;
}

.copilotKitPopup {
  left: 1rem !important;
  width: 20px !important;
}

.copilotKitWindow {
  left: 1rem !important;
}

.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
}

.fc-toolbar-title {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}